body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.screen {
    text-align: center;
}

.hidden {
    display: none;
}

h1 {
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button, a {
    padding: 15px 40px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #00ff88;
    color: black;
    transition: 0.2s;
}

button:hover, a:hover {
    transform: scale(1.05);
}